name: Build Linux 6.12.37 with LotSpeed (built-in)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Install build deps
      run: |
        sudo apt update
        sudo apt install -y build-essential fakeroot bc bison flex \
            libssl-dev libelf-dev libncurses-dev xz-utils dwarves

    - name: Download kernel source 6.12.37
      run: |
        wget https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.12.37.tar.xz
        tar xf linux-6.12.37.tar.xz
        mv linux-6.12.37 linux

    - name: Add LotSpeed algorithm
      run: |
        cd linux/net/ipv4
        wget https://raw.githubusercontent.com/uk0/lotspeed/zeta-tcp/lotspeed.c -O tcp_lotspeed.c

        cd ../../..
        patch -p1 < lotspeed.patch

    - name: Kernel default config
      working-directory: linux
      run: |
        make defconfig
        scripts/config --enable CONFIG_TCP_CONG_ADVANCED
        scripts/config --enable CONFIG_TCP_CONG_LOTSPEED
        make olddefconfig

    - name: Build kernel
      working-directory: linux
      run: |
        make -j"$(nproc)"
        make bindeb-pkg -j"$(nproc)"

    - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kernel-x86_64
          path: |
            *.deb
            *.changes
            *.buildinfo
            *.config
