name: Build Debian Kernel (x86_64)

on:
  repository_dispatch:
    types: [trigger-x86_64-build]
  workflow_dispatch:
    inputs:
      kernel_version:
        description: "Kernel version"
        required: true
        default: "6.12.37"
        type: string
      skip_cache:
        description: "Skip Cache"
        required: false
        default: false
        type: boolean

jobs:
  prepare:
    name: Prepare Build Parameters
    runs-on: ubuntu-24.04
    outputs:
      kernel_version: ${{ steps.prepare_build_parameters.outputs.KERNEL_VERSION }}
      kernel_minor_version: ${{ steps.prepare_build_parameters.outputs.KERNEL_MINOR_VERSION }}
      kernel_major_version: ${{ steps.prepare_build_parameters.outputs.KERNEL_MAJOR_VERSION }}
      skip_cache: ${{ steps.prepare_build_parameters.outputs.SKIP_CACHE }}
    steps:
      - name: Prepare Build Parameters
        id: prepare_build_parameters
        run: |
          if [ "${{ github.event_name }}" == "repository_dispatch" ]; then
            KERNEL_VERSION="${{ github.event.client_payload.kernel_version }}"
          else
            KERNEL_VERSION="${{ inputs.kernel_version }}"
          fi
          KERNEL_MINOR_VERSION=$(echo "$KERNEL_VERSION" | cut -d '.' -f 2)
          KERNEL_MAJOR_VERSION=$(echo "$KERNEL_VERSION" | cut -d '.' -f 1)
          SKIP_CACHE="${{ inputs.skip_cache }}" || SKIP_CACHE=false

          echo "KERNEL_VERSION=$KERNEL_VERSION" >> $GITHUB_OUTPUT
          echo "KERNEL_MINOR_VERSION=$KERNEL_MINOR_VERSION" >> $GITHUB_OUTPUT
          echo "KERNEL_MAJOR_VERSION=$KERNEL_MAJOR_VERSION" >> $GITHUB_OUTPUT
          echo "SKIP_CACHE=$SKIP_CACHE" >> $GITHUB_OUTPUT

  build:
    name: Build Debian Kernel Package for x86_64
    runs-on: ubuntu-24.04
    needs: prepare
    outputs:
      kernel_version: ${{ needs.prepare.outputs.kernel_version }}
      build_time: ${{ steps.get_build_time.outputs.BUILD_TIMESTAMP }}
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential curl git patch jq openssl quilt \
            libncurses-dev libssl-dev libelf-dev libudev-dev libpci-dev libcap-dev libpcre2-dev libcurl4-openssl-dev \
            bison bc flex rsync debhelper lz4 pahole zstd dpkg-dev fakeroot kmod cpio xz-utils ccache

      - name: Checkout Kernel Sources
        uses: actions/checkout@v4
        with:
          fetch-tags: true

      - name: Download Linux Kernel Source
        run: |
          wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-${{ needs.prepare.outputs.kernel_version }}.tar.xz
          tar -xf linux-${{ needs.prepare.outputs.kernel_version }}.tar.xz
          rm linux-${{ needs.prepare.outputs.kernel_version }}.tar.xz
          mv linux-${{ needs.prepare.outputs.kernel_version }} linux

      - name: Download Debian Kernel Patches
        run: |
          git clone -b debian/${{ needs.prepare.outputs.kernel_version }}-1 --depth=1 https://salsa.debian.org/kernel-team/linux.git linux-debian

      - name: Download Xanmod Network Patches (BBR/BBRv3)
        run: |
          git clone --depth=1 https://gitlab.com/xanmod/linux-patches.git linux-xanmod-patches

      - name: Checkout Bore Scheduler Patches
        uses: actions/checkout@v4
        with:
          repository: firelzrd/bore-scheduler
          path: bore-patches

      - name: Organize Patches
        run: |
          cd linux
          cp -R ../linux-debian/debian/patches ./patches
          cp -R ../linux-xanmod-patches/linux-${{ needs.prepare.outputs.kernel_major_version }}.${{ needs.prepare.outputs.kernel_minor_version }}.y-xanmod/net ./patches/net
          cp -R ../bore-patches/patches/stable/linux-${{ needs.prepare.outputs.kernel_major_version }}.${{ needs.prepare.outputs.kernel_minor_version }}-bore ./patches/cpu-scheduler
          mkdir -p patches/custom
          cp -R ../kernel_patches/${{ needs.prepare.outputs.kernel_major_version }}.${{ needs.prepare.outputs.kernel_minor_version }}/* patches/custom/
          
          cd patches
          echo "# Net Patches from Xanmod" >> series
          find ./net -type f -name "*.patch" -printf "net/%P\n" | sort >> series
          echo "# CPU Scheduler Patches from Bore" >> series
          find ./cpu-scheduler -type f -name "*.patch" -printf "cpu-scheduler/%P\n" | sort >> series
          echo "# Custom Patches" >> series
          find ./custom -type f -name "*.patch" -printf "custom/%P\n" | sort >> series

      - name: Apply Patches
        run: |
          cd linux
          quilt push -a

      - name: Configure Kernel
        run: |
          cd linux
          cp ../configs/x86_64.config .config
          make olddefconfig

      - name: Build Kernel Debian Packages
        env:
          KBUILD_BUILD_USER: "cloudpassenger"
          KBUILD_BUILD_HOST: "github-actions"
          KDEB_COMPRESS: "xz"
        run: |
          cd linux
          make -j $(nproc) bindeb-pkg

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kernel-x86_64
          path: |
            *.deb
            *.changes
            *.buildinfo
            *.config

      - name: Get build time
        id: get_build_time
        run: |
          BUILD_TIMESTAMP=$(date -Is)
          echo "BUILD_TIMESTAMP=$BUILD_TIMESTAMP" >> $GITHUB_OUTPUT
